.feed {
   
    position: relative;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid darkgrey;
    list-style-type: none;
    background-color: #ff65a3;
    border-radius: 1em;

}
.feed2 {
   
    position: relative;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid darkgrey;
    list-style-type: none;
    background-color: #7afcff;
    border-radius: 1em;

}

.ul {
    margin-bottom: 2px;
    padding-left: 5px;
    border: 2px solid darkgreen;
}
.like {
    float: right;
}