
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.Menu {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  border-radius: 1em;
}

#menu-links {
  display: flex;
  padding-left: 1em;
}

#menu-links a {
  padding-right: 0.5em;
  color: #f26699;
  text-decoration: underline;
  cursor: pointer;
}


ul,li{
  list-style:none;
}

ul{
  overflow:hidden;
}




.PostH {
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:absolute;
  height:150px;
  width:150px;
  padding:1em;
  
  float:left;
  font-weight:bold;
  padding-bottom:10px;
  font-family: 'Caveat', cursive;
  font-size:300%;
  text-decoration:none;
  color:#000;
  background:#04adbf;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

